.header {
  background-color: var(--lightgray-color);

  th {
    text-align: left;
    height: 3rem;
    color: var(--default-font-color);
    padding: 1.5rem;
  }

  .btnContainer {
    display: flex;
    justify-content: flex-end;
  }
}
