.header {
  border-bottom: 1px solid var(--table-border-color);

  th {
    text-align: left;
    height: 3rem;
    color: var(--default-font-color);
    padding: 1.5rem;
  }

  .btnContainer {
    display: flex;
    justify-content: flex-end;

    > button {
      width: 40px;
      width: 40px;
      cursor: pointer;
    }
  }
}
