.body {
  td {
    padding: 1.5rem;
  }

  .tableRow {
    border-spacing: 0;

    &:nth-child(even) {
      background-color: var(--lightgray-color);
    }

    &:hover {
      cursor: pointer;
      background-color: var(--table-hover-color);
    }

    > td {
      &:last-of-type {
        display: flex;
        justify-content: flex-end;

        > button:last-of-type {
          margin-left: 1rem;
          width: 4rem;
          cursor: pointer;
        }
      }
    }
  }
}
