.tableWrapper {
  max-width: 96rem;
  margin: 0 auto;
  border-radius: 0.8rem;
  background-color: var(--header-background-color);
  color: var(--table-font-color);

  // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  .table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 1.5rem;

    th,
    td {
      padding: 1.5rem;
    }
  }
}
