.header nav {
  background-color: var(--header-background-color);
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #676568;
  font-size: 1.8rem;
  box-sizing: border-box;

  * {
    display: inline;
  }

  li {
    margin-right: 15px;
  }
}
